*{
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}
.container{
    border: 1px solid;
    padding: 5px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: auto;
}
.btns{
    padding: 10px;
}
.btns button{
    padding: 10px;
    font-weight: bold;
}
.product{
    /* border: 1px solid; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
    padding: 5px;
    text-align: center;
}

.product img{
    width: 80%;
    height: 80%;
    margin-bottom: 10px;
}
.priceAndRating{
    /* border: 1px solid; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.priceAndRating > p{
    font-size: 25px;
    color: teal;
}
.rating{
    display: flex;
    width: fit-content;
    justify-content: space-between;
}
.rating> span{
    font-weight: bold;
}
.rating> p{
    color: rgb(76, 76, 175);
}
.rating i{
    margin-right: 5px;
    color: gold;
}