#container{
    /* border:1px solid red; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.movie{
    /* border:2px solid blue; */
    
    margin: 5px;
    padding: 5px;
    text-align: center;

}

img{
    height: 90%;
    width: 70%;
}

h1{
    font-size: 20px;
}
